.container {
    text-align: center;
    margin-top: 30px;
}
table{
    margin: auto;
}

input {
    font-size: 35px;
    border: 2px  green solid; 
}

button {
    font-size: 40px;
    background: chartreuse;
    width: 107px;
    height: 60px
}